.work__button{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  background-color: #566981; 
  margin: 0.5rem; 
  font-size: 1.125rem;
  color: #cbdad5; 
  font-weight: 700; 
  line-height: 1.75rem; 
  border-radius: 0.5rem; 
  text-align: center; 
  margin-left: 75px;
  margin-top: 20px;
}